.home-carousel-img-box1, .home-carousel-img-box2, .home-carousel-img-box3 {
  padding: 4vh 0;
  position: relative;
}

.home-carousel-img-box1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./index-img/backgroud1.jpg") no-repeat center center /
    cover;
  opacity: 0.8; /* 👉 배경만 흐리게 */
  z-index: -1;
}

.home-carousel-img-box2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./index-img/backgroud2.jpg") no-repeat center center /
    cover;
  opacity: 0.8; /* 👉 배경만 흐리게 */
  z-index: -1;
}
.home-carousel-img-box3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./index-img/backgroud3.jpg") no-repeat center center /
    cover;
  opacity: 0.8; /* 👉 배경만 흐리게 */
  z-index: -1;
}

.home-carousel-img {
  border: 0.3vw solid #7b2a3b;
  aspect-ratio: 16 / 8;
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.home-carousel-prev,
.home-carousel-next {
  width: 4rem;
  height: 4rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #7b2a3b;
  border-radius: 50%;
  border: 1px solid #2c3e50;
  opacity: 0.9;
  transition: all 0.3s ease;
}

.home-carousel-prev {
  position: absolute;
  left: 2vw; /* 왼쪽에서 살짝 안쪽으로 */
}

.home-carousel-next {
  position: absolute;
  right: 2vw; /* 오른쪽에서 살짝 안쪽으로 */
}

.home-carousel-prev-icon,
.home-carousel-next-icon {
  background-size: 1.5rem 1.5rem;
}

.home-carousel-prev:hover,
.home-carousel-next:hover {
  background-color: #f2dcdc;
  box-shadow: 0 0 10px rgba(123, 42, 59, 0.5);
}

.home-carousel-prev:hover .home-carousel-prev-icon,
.home-carousel-next:hover .home-carousel-next-icon {
  filter: invert(100%);
}

@media screen and (max-width: 991.9px) {
  .nav-item a:hover {
    font-weight: 900;
    transform: scale(1);
  }

  .home-carousel-prev,
  .home-carousel-next {
    width: 5vw;
    height: 5vw;
    top: 50%;
    transform: translateY(-50%);
    background-color: #7b2a3b;
    border-radius: 50%;
    border: 1px solid #2c3e50;
    opacity: 0.9;
    transition: all 0.3s ease;
  }

  .home-carousel-prev-icon,
  .home-carousel-next-icon {
    background-size: 0.5rem 0.5rem;
  }
}
