/* nav-footer css */

body {
  margin: 0;
  padding-top: 56px;
}
.navbar {
  font-weight: bolder;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f2dcdc;
  z-index: 1000;
}
.navbar button {
  color: #7b2a3b;
  border: 1px solid #7b2a3b;
  background-color: #f2dcdc;
}
.nav-item a {
  font-size: 1.2rem;
  font-weight: bolder;
}
.nav-item a:hover {
  font-weight: 900;
  transform: scale(1.1);
}

.navbar button:hover {
  color: #f2dcdc;
  border: 1px solid #f2dcdc;
  background-color: #7b2a3b;
}

.navbar-brand img {
  height: 56px;
  margin: 0;
  padding: 0;
}

footer {
  background-color: black;
  color: white;
}
.first-line {
  border-bottom: 1px solid rgb(92, 92, 92);
  padding: 0 1vw;
}

.second-line {
  border-bottom: 1px solid rgb(92, 92, 92);
  padding: 0 1vw;
}

.second-line a {
  color: white;
  text-decoration: none;
}

.third-line {
  display: none;
}

@media screen and (max-width: 48rem) {
  .first-line {
    text-align: center;
  }

  .second-line {
    padding: 0 2rem;
    border-bottom: 1px solid rgb(92, 92, 92);
    display: flex;
  }

  .third-line {
    display: block;
  }
}


/* space css */
html {
    scroll-behavior: smooth;
}

.logo-img{
   width: 300px;
}

.space-text{
    text-align: center;
    margin-bottom: 7rem;
}

.space-img{
    width: 50%;
}

.space-zone{
    display: flex;
    align-items: center;
    margin-bottom: 9rem;
}

.space-book-text{
    width: 50%;
    text-align: center;
}

.space-lp-text{
    width: 50%;
    text-align: center;
}

.space-book-text-h5, .space-lp-text-h5{
    padding-top: 2rem;
}

.space-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 7rem;
}

.space-btn-1{
    border: none;
    background-color: #f2dcdc;
    width: 500px;
    height: 50px;
    transition: background-color 0.3s;
}

.space-btn-a{
    text-decoration: none;
    color: #2c3e50;
}

.space-btn-1:hover{
    background-color: #7b2a3b;
    color: white;

    .space-btn-a{
        color: white;
    }
}

.space-top-btn{
    text-align: center;
    margin-bottom: 2rem;
}

.top-btn{
    border: none;
    background-color: transparent;
}

.top-btn-a{
    text-decoration: none;
    color: #2c3e50;
}

.top-btn-a:hover{
    color: #7b2a3b;
}
